.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.main {
  padding: 50px;
}

.sidebar {
  padding-top: 60px;
  left: 0;
  width: 200px;
  background-color: #333;
  height: calc(100vh - 60px); /* sisa tinggi layar setelah navbar */
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar a {
  padding-left: 20px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.sidebar a:hover {
  color: red;
}

.content {
  margin-left: 200px; /* kasih jarak biar gak ketimpa sidebar */
  padding-top: 80px; /* kasih jarak biar gak ketimpa navbar */
  padding: 20px;
}

.content .judul {
  text-align: center;
}

.gambar {
  display: flex;
  justify-content: center;
}

.gambar-lagi {
  display: flex;
  justify-content: space-between;
}

.gambar-lagi img {
  min-width: 30%;
  flex-wrap: wrap;
}
