html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: olivedrab;
  padding: 20px 30px;
  gap: 20px;
}

.header a {
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.header a:hover {
  cursor: pointer;
  padding: 0px 10px;
  background-color: red;
}

.logo {
  margin-left: 10px;
  margin-right: auto;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: olivedrab;
    padding: 20px 30px;
    gap: 20px;
  }

  main {
    padding-top: 300px;
  }

  .header a {
    text-decoration: underline;
  }
}

main {
  grid-area: main;
}

.welcome {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* atau sesuai kebutuhan */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

#hello {
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#professional {
  color: white;
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

#btn-learn {
  font-size: 20px;
  border: black solid 1px;
  margin: 30px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

#btn-learn:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.about-wrapper {
  background-color: whitesmoke;
  height: auto;
  display: flex;
  padding: 150px 0px;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
  width: 100%;
}

.gambar {
  flex: 1 1 45%;
}

.text {
  flex: 1 1 30%;
}

@media (max-width: 768px) {
  .gambar,
  .text {
    flex: 1 1 80%;
  }
}

#gambar-about {
  width: 100%;
  height: auto;
  display: block;
}

#about-title {
  color: black;
  padding: 0;
  font-size: 40px;
  font-weight: bolder;
}

.text p {
  color: black;
  margin: 10px;
  font-size: medium;
}

.btn-let-us {
  font-size: 20px;
  border: black 1px solid;
  padding: 10px 20px;
  margin-top: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  color: black;
}

.btn-let-us:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}

.trainer-wrapper {
  background-color: white;
  height: auto;
  display: flex;
  padding: 100px 0px 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.trainer-wrapper .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.title p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.card-trainer {
  border: black 2px solid;
  aspect-ratio: 2 / 3;
  width: 300px;
  height: auto;
}

.card-trainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-trainer .caption {
  text-align: center;
  font-size: 15px;
}

.form-wrapper {
  background-image: url("https://images.unsplash.com/photo-1434682881908-b43d0467b798?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  padding: 200px 0px 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-wrapper .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.form-wrapper .signup-form {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px;
}

.input-field {
  outline: none;
  color: white;
  padding-bottom: 5px;
  border-style: none;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  background-color: transparent;
}

.input-field::placeholder {
  color: white;
  font-size: 15px;
}
.button-send {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.send-message {
  font-size: 20px;
  background-color: white;
  padding: 10px 50px;
  border: white 2px solid;
  background-color: transparent;
  color: white;
}

.send-message:hover {
  cursor: pointer;
  background-color: red;
}
.fitness-blog-wrapper {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kotak-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.kotak {
  background-color: #f2f2f2;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-weight: bold;
  width: 300px;
  height: 200px;
}

.kotak h4 {
  font-size: 10px;
  font-style: italic;
}

.kotak p {
  font-size: 20px;
  text-transform: capitalize;
}

.kotak .author {
  font-size: 10px;
}

@media (max-width: 768px) {
  .kotak-container {
    grid-template-columns: 1fr;
  }
}

.price-wrapper {
  background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding: 100px 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.price-wrapper .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.title p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: 0;
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 10px;
  flex-wrap: wrap;
}

.card-price {
  margin: 20px;
  border: white 3px solid;
  padding-bottom: 50px;
  width: 200px;
  height: auto;
  text-align: center;
}

.card-price .title {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

.card-price .prices {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.card-price p {
  font-size: 15px;
  font-weight: normal;
}

.quotes-wrapper {
  background-color: whitesmoke;
  height: auto;
  padding: 50px 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  margin: 0;
}

.icon p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.quotes p {
  margin: 0;
  padding: 0px 100px;
  font-size: 30px;
  font-weight: bold;
}

.quotes .author {
  padding: 10px;
  font-size: 20px;
  color: grey;
  text-align: center;
  font-weight: normal;
}

.footer-wrapper {
  background-color: olivedrab;
  height: auto;
  padding: 50px 0px 60px;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-container .about-fitness,
.session,
.follow-us {
  padding: 5px 30px;
  width: 300px;
  height: fit-content;
}

.footer-container h3 {
  font-size: 20px;
}

.footer-container p {
  font-size: 15px;
}
@media (max-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.copyright {
  display: flex;
  background-color: olivedrab;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
